# TXT files for CODE drifters

In [2]:
import os
from glob import glob
import pandas as pd

In [4]:
raw_dir = '/Users/mdemol/DATA_DRIFTERS/drifters/raw'
id_code = ['7325']

In [ ]:
for id_ in id_code : 
    txt = open(os.path.join(raw_dir, f'code_{id_}.txt'))
    lines = txt.readlines()
    columns = 'id, time, lat, lon \n'
    lines=lines[1:]
    l=[i for i in lines if id_ in i]
    l = [i.replace('\n','') for i in l if i!='']
    id = [li.split(' ')[0] for li in l]
    lon = [li.split(' ')[-1] for li in l]
    lat = [li.split(' ')[-2] for li in l]
    dates= [i.replace('\x0c','').replace('\n','').split(' ')[-1] for i in lines if '2023' in i]
    dates = [i for i in dates if i!='']
    other = [i for i in lines if id_ not in i]
    other = [i.replace('\x0c','').replace('\n','')for i in other if '2023' not in i]
    other = [i for i in other if i!='']
    other = [i.replace(' ','') for i in other]
    txt_out = open(os.path.join(raw_dir, f'code_{id_}_ok.txt'), 'w')
    txt_out.write(columns)
    for i in range(len(id)):
        txt_out.write(f'{id[i]}, {dates[i]} {other[i]}, {lon[i]}, {lat[i]}\n')
    txt_out.close()

In [38]:
id_code = ['7313', '7314', '7315', '7316', '7317','7319', '7320', '7321', '7322',]
for id_ in id_code : 
    txt = open(os.path.join(raw_dir, f'code_{id_}.txt'))
    lines = txt.readlines()
    trace = lines[2].split(' ')[2]
    print(id_)
    lines = [l.replace(f' Trace {trace}','') for l in lines[1:] if l !='\n']
    lines = [l.split(' ')[0] 
             + ', ' 
             + l.split(' ')[1] 
             + ' ' 
             +l.split(' ')[2]
             +', '
             +l.split(' ')[3]
             +', '
             +l.split(' ')[4]  for l in lines]
    txt_out = open(os.path.join(raw_dir, f'code_{id_}_ok.txt'), 'w')
    txt_out.writelines(lines)
    txt_out.close()

7313
7314
7315
7316
7317
7319
7320
7321
7322

In [32]:
a = pd.read_csv(os.path.join(raw_dir, f'code_{id_}_ok.txt'))

In [33]:
a

      7313   2023-06-28 09:52:53   38.42895   6.00165
0     7313   2023-06-28 09:43:19   38.43042   6.00446
1     7313   2023-06-28 09:32:50   38.43204   6.00759
2     7313   2023-06-28 09:22:47   38.43367   6.01062
3     7313   2023-06-28 09:12:50   38.43546   6.01375
4     7313   2023-06-28 09:02:53   38.43714   6.01680
...    ...                   ...        ...       ...
6649  7313   2023-05-06 16:59:14   41.19205   5.16864
6650  7313   2023-05-06 16:49:55   41.19239   5.16617
6651  7313   2023-05-06 16:39:16   41.19275   5.16317
6652  7313   2023-05-06 16:29:15   41.19321   5.16027
6653  7313   2023-05-06 15:07:00   41.20005   5.08352

[6654 rows x 4 columns]