# TXT files for CODE drifters

In [2]:
import os
from glob import glob
import pandas as pd

In [1]:
raw_dir = '/Users/mdemol/DATA_DRIFTERS/drifters/raw'

In [4]:
id_code =['7318']# ['7313', '7314', '7315', '7316', '7317','7318','7319', '7320', '7321', '7322',]
for id_ in id_code : 
    txt = open(os.path.join(raw_dir, f'code_{id_}.txt'))
    lines = txt.readlines()
    trace = lines[2].split(' ')[2]
    print(id_)
    lines = [l.replace(f' Trace {trace}','') for l in lines[1:] if l !='\n']
    lines = [l.split(' ')[0] 
             + ', ' 
             + l.split(' ')[1] 
             + ' ' 
             +l.split(' ')[2]
             +', '
             +l.split(' ')[3]
             +', '
             +l.split(' ')[4]  for l in lines]
    lines = ['id,time,lat,lon\n']+lines
    txt_out = open(os.path.join(raw_dir, f'code_{id_}_ok.txt'), 'w')
    txt_out.writelines(lines)
    txt_out.close()

7318

In [5]:
a = pd.read_csv(os.path.join(raw_dir, f'code_{id_}_ok.txt'))

In [6]:
a

        id                  time       lat      lon
0     7318   2023-06-14 23:45:29  37.18167  6.20208
1     7318   2023-06-14 20:52:51  37.16140  6.19200
2     7318   2023-06-14 20:32:59  37.15995  6.19191
3     7318   2023-06-14 06:49:24  37.20415  6.10565
4     7318   2023-06-14 06:39:24  37.20419  6.10488
...    ...                   ...       ...      ...
3190  7318   2023-05-05 12:01:52  41.17451  5.11201
3191  7318   2023-05-05 11:51:57  41.17561  5.10740
3192  7318   2023-05-05 11:41:56  41.17632  5.10253
3193  7318   2023-05-05 11:35:25  41.17666  5.09978
3194  7318   2023-04-26 06:41:00  41.19982  5.01707

[3195 rows x 4 columns]

In [3]:
download_dir = '/Users/mdemol/DATA_DRIFTERS/drifters/downloads'
files = glob(os.path.join(download_dir,'svp_scripps','*'))
for f in files:
    file = open(f)
    lines = file.readlines()
    lines = [l.replace('\x0c','') for l in lines]
    file.close()
    file = open(f, 'w')
    file.writelines(lines)
    file.close()